<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'lauritz';

  (function() {
    var postMeta = document.querySelector('.post-meta');
    var separator = document.createTextNode(' ∙ ');
    postMeta.appendChild(separator);

    var comments = document.createElement('a');
    comments.href = '#disqus_thread';
    postMeta.appendChild(comments);

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
